
html {
    height: 100%;
}
body {
    background-color: bisque;
    background-size: cover;
    height: 100%;
    margin: 0;
}
#index {
    background-image: url("../images/seashore.jpg");

}
nav {
    
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #62c4f3;
    /* border-radius: 5px; */
}
nav ul {
    font-family: 'Cabin', sans-serif;
    color: white;
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    
}
nav ul:nth-child(3) {
    border-style: solid;
    border-color: burlywood;
    padding: 5px 0 5px 0;
    border-width: 1px 0px 1px 0px; 
}
nav ul li {
    margin: 0 10px;
}
.nav-lists-box {
    flex-direction: column-reverse;
}
.nav-lists-box h1 {
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: center;
}
nav img {
    margin-left: 3px;
    max-width: 150px;
    max-height: 150px; 

}

footer {

    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #62c4f3;
}
footer ul {
    list-style: none;
    color: white;   
}

.main {
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    margin-bottom: 85px;
}

.main form {
    width: 90%;
    margin: 3px auto;
    border-radius: 3px;
    background-color: rgba(250, 246, 246, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    margin: 2px auto;
    padding: 0 2px;
    height: 35px;
    width: 90%;
    border-radius: 10px;
   
}
select {
    margin: 2px auto;
    padding: 0 2px;
    height: 35px;
    width: 90%;
  
}
form button {
    margin: 2px auto;
    padding: 0 2px;
    height: 40px;
    width: 90%;
    border-radius: 10px;
    border-color: goldenrod;
    background-color: sandybrown;
}


.main h5 {
    text-align: center;
}
#index h3 {
    color: whitesmoke;
    text-align: center;
}
.offers {
    margin: auto;
    width: 90%;
    max-height: 60%;
    display: grid;
    grid:
    'offer1'
     'offer2'
      'offer3';
    grid-template-rows: 200px 200px 200px;
    grid-gap: 30px;
}
.card {
    /* background-color: rgba(250, 246, 246, 0.7); */
    position: relative;
}
.overlay{
    width: 100%;
    background-color: rgba(250, 246, 246, 0.7); 
    position: absolute;
    top: 0;
}
.overlay h5 {
    text-align: center;
}
.overlay h3 {
    text-align: end;
}
.card:nth-child(1) {
    grid-area: 'offer1';
}
.card:nth-child(2) {
    grid-area: 'offer2';
}
.card:nth-child(3) {
    grid-area: 'offer3';
}
.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /* max-width: 90%; */
    /* max-height: 230px; */
  /* object-fit: contain; */
}

.fas {
    /* aligning down icons */
    margin: 2px 2px 2px 2px;
}

.result {
    font-size: 0.8em;
    display: block;
    width: 90%;
    margin: 10px auto;
    max-height: 250px;
    background-color: rgba(250, 246, 246, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

}
.result img {
    width: 50%;
    height: 170px;
}
.result div {
    width: 65%;
}
.result p {
    

    text-align: end;
}
.result h1 {
    color: black;
    text-align: center;
    text-decoration: underline;
}
.opacity {
    background-color: rgba(250, 246, 246, 0.7);
    width: 90%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

.form-large {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-set {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 2px;
}
.form-large input {
     width: 90%;
     margin: auto;
     box-sizing: border-box;
 }

 select {
  /* width: 25%; */
  margin: auto;
  box-sizing: border-box;
}

@media (min-width: 992px) {
    body {
        background-repeat: no-repeat;
    }

    nav {
        margin-top: 5px;
        flex-direction: row;
        justify-content: space-between; 
    }
    .nav-lists-box {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
    }
    nav ul {
        flex-flow: row;
    
    }
    
    .nav-lists-box h1 {
        font-family: 'Satisfy', cursive;
        color: white;
        text-align: center;
    }
    .nav-lists-box :nth-child(3) {
       justify-content: space-between;
   }
   nav img {
       margin-left: 15px;
   }
    .main {
        width: 100%;
    }
   .main form {
       margin-top: 5px;
     
       flex-direction: row;
       justify-content: space-between;
       padding: 10px;
   }
   .index-form {
    height: 50px;
   }
   .index-form input {
       width: 40%;
       margin: auto;
       box-sizing: border-box;
   }
   .form-large {
       height: 150px;
   }
  .form-set {
      width: 20%;
      display: flex;
      flex-direction: column;
  }
  .form-large input {
       width: 25%;
       margin: auto;
       box-sizing: border-box;
   }

   select {
    /* width: 25%; */
    margin: auto;
    box-sizing: border-box;
}

   form button {
    width: 25%;
    margin: auto;
   }
   .offers {

    grid:
    'offer1 offer2 offer3';
    grid-template-rows: 300px;
   }

   .card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
    /* max-height: 230px; */
  /* object-fit: contain; */
}

.result img {
    width: 30%;
    height: 250px;
}
.result div {
    width: 65%;
}
.result p {
    font-size: 1.1em;
    padding-right: 40px;
    text-align: end;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    justify-content: space-around;
}




}